.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.main-page {
  background-image: url("backgroun-image.jpg");
  background-size: cover;
  width: 30%;

}

.inner-div {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.inp {
  box-sizing: border-box;
  padding: 5px;
}

.input-form {
  margin: auto
}

#heading {
  margin: auto;
}

.login-button {
  padding: 10px;
  width: fit-content;
  margin: auto;
}